:root {
  --background-header-color: #fff;
  --mouse-over-color: #2196f3;
  --mouse-over-text-color: #fff;
  --header-bacground-color: #2f303a;
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --primary-logo-web: #2196f3;
  --primary-logo-studio: #000;
  --secondary-logo-studio: #fff;
  --background-team: #f5f4fa;
  --background-team-picture: #fff;
  --background-footer: #2f303a;
  --primary-footer-font: #fff;
  --footer-contact-font-color: rgba(255, 255, 255, 0.6);
  --primary-background-button-portfolio: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: var(--background-header-color);
}
.logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-logo-web);
  /* text-decoration: none; */
}

.logo-black {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--primary-logo-studio);
  /* text-decoration: none; */
}

.link-no-underline {
  text-decoration: none;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
}

.nav:hover,
.nav:focus {
  color: var(--mouse-over-color);
}

.li-no-dots {
  list-style-type: none;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}

.contact:hover,
.contact:focus {
  color: var(--mouse-over-color);
}

.header-one {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.main-header {
  background-color: var(--header-bacground-color);
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* text-align: center; */
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  background-color: var(--primary-background-button-portfolio);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--mouse-over-color);
  color: var(--mouse-over-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header-three {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-font-color);
}

.main-strenghts p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.main-team {
  background-color: var(--background-team);
}

.picture-team-member {
  background-color: var(--background-team-picture);
}

.header-four {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.header-four-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.picture-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.picture-text-portfolio {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.footer {
  background-color: var(--background-footer);
}

.logo-blue-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--primary-logo-web);
}

.logo-white-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-logo-studio);
  /* text-decoration: none; */
}

.address-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-footer-font);
}

.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-font-color);
}
